:root{
    --backGrounPrincipal:#427E80;
    --backGroundModooscuro:#333;
    --backGroundFooterPrincipal: #1d1d1d;

    --colorFontPrincipal:#F0F5E4;
    --colorFontSecundaria:#000;

    --bacgGroundButtonPrincipal:#d5daca;

    --fontSizePrincipal:16px;
    --fontSizeMobile:12px;
    --h2Principal:40px;
    --h2Mobile:25px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  var(--backGrounPrincipal);
    color: var(--colorFontPrincipal);
    font-family: 'Montserrat', sans-serif;
} 


main{
    padding: 100px 20px;
}

footer{
    background-color: var(--backGroundFooterPrincipal);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
    z-index: 100;
}

h2{
    text-shadow: 2px 2px #154454;
    text-align: center;
    font-size: 40px;
}

h3{
    font-size: 14px;
}

a{
    user-select: none;
}

.cont-nav{
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 40px;
    box-sizing: border-box;
}

ul{
    padding: 0;
}

#monitor,
#teclado{
    animation: logoAparece ease-in 5s;
    animation-iteration-count: 1;
}

@keyframes logoAparece{
    0%, 20%{
        transform: translateY(-10px);
        opacity: 0;
    }
    30%{
        transform: translateY(0);
        opacity: 1;
    }
}

#monitor2,
#teclado2{
    animation: logoAparece2 ease-in 5s;
    animation-iteration-count: 1;
}

@keyframes logoAparece2{
    0%, 30%{
        transform: translateY(-10px);
        opacity: 0;
    }
    40%{
        transform: translateY(0);
        opacity: 1;
    }
}

.menu-nav{
    color: var(--colorFontPrincipal);
}

.ul{
    height: auto;
    display: flex;
    align-items: center;
}

.li{
    list-style: none;
}

.a-menu-nav{
    text-decoration: none;
    color: #154454;
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--colorFontPrincipal);
    font-weight:300;
    margin: 22.9px;
    gap: 10px;
}

.a-menu-nav:hover{
    background-color: var(--bacgGroundButtonPrincipal);
}

#cont-hamburguesa{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    right: 40px;
}

.fixed{
    position: fixed;
}

.span-menu{
    width: 40px;
    height: 3px;
    background-color: var(--bacgGroundButtonPrincipal);
    display: block;
    margin:10px auto ;
    z-index: 100;
    border-radius: 5px;
    transition: 0.5s ease-in;
}

.span1{
    animation: segundoSpan1 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span1efecto{
    animation: span1 ease-in .3s forwards;
    animation-iteration-count: 1;
    background-color: rgb(201, 0, 0);
}

@keyframes span1{
    0%{
    }
    100%{
        transform:translateY(15px) rotate(45deg);  
    }
}

@keyframes segundoSpan1{
    0%{
        transform:translateY(15px) rotate(45deg);
    }100%{
        transform:translateY(0px) rotate(0deg);
    }
}

.span2{
    animation: segundoSpan2 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span2efecto{
    animation: span2 ease-in .3s forwards;
    animation-iteration-count: 1;
}

@keyframes span2{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 0.5;        
    }
    100%{
        transform:translateX(45px);  
        opacity: 0;  
    }
}

@keyframes segundoSpan2{
    0%{
        transform:translateX(45px);  
        opacity: 0;
    }
    80%{
        opacity: 0.5;        
    }
    100%{           
        opacity: 1;  
    }
}

.span3{
    animation: segundoSpan3 ease-in .3s forwards;
    animation-iteration-count: 1;
}

.span3efecto{
    animation: span3 ease-in .3s forwards;
    animation-iteration-count: 1;
    background-color: rgb(201, 0, 0);
}


@keyframes span3{
    0%{
    }
    100%{
        transform:translateY(-10px) rotate(-45deg);  
    }
}

@keyframes segundoSpan3{
    0%{
        transform:translateY(-10px) rotate(-45deg);
    }
    100%{
        transform:translateY(0px) rotate(0deg);  
    }
}

.btn-card:active, .a-menu-nav:active{
    box-shadow: 0px 0px 0px;
    position: relative;
    bottom: -1.2px;
    right: -1.5px;
}

.container-img{
    width: 100%;
    min-height: 500px;  
    background: url(./assets/imagenes/codigo.jpeg) no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-codigo{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: fixed;
}
.titulo-principal{
    position: absolute;
    background-color: #2D2D2D;
    color: #fff;
    text-shadow: 4px 4px black;
    font-size: 56px;
    max-width: auto;
    top: 264px;
    text-align: center;
}


#titulo-contenido{
    position: relative;
    top: -100px;
}

.cont-cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin:100px 0px;
    gap: 20px;
    perspective:1000px;
    perspective-origin: center;
}

.card{
    width: 350px;
    height: 400px;
    background-color: var(--colorFontPrincipal);
    border: solid 5px #154454;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 15px #000;
    overflow: hidden;
    transition: all .7s ease-in-out;
}

.cardEfect{
    transform: rotatex(90deg);
}

.parrafo-card{
    color: #000;
    text-align: center;
}

.imagen-card{
    width: 100%;
}

.btn-card{
    width: 40%;
    padding: 10px;
    background-color: #427E80;
    box-shadow: 2px 3px #154454;
    text-align: center;
    text-decoration: none;
    color: var(--colorFontPrincipal);
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn-card:hover{
    background-color: #30696b;
}

#cont-footer-izquierdo{
    display: flex;
    text-align: center;
    align-items: center;
}

.none{
    display: none;
}

.cont-menu-temas{
    position: absolute;
    display: flex;
    height: 40px;
    width: 100px;
    overflow: hidden;
    color: #000;
    text-align: center;
    flex-direction: column;
    border: #000 solid 1px;
    top: 84px;
    right: 0px;
    border-radius: 0 0 5px 5px;
}

.btn-temas{
    padding: 10px ;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    border: 0;
    background-color:var(--colorFontPrincipal);
    display: flex;
    align-items: center;
}

.btn-temas:hover{
    background-color: var(--bacgGroundButtonPrincipal);
}

.ampliar-menu-temas{
    height: auto;
}

.sub-menu-temas{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
}

.li-temas{
    list-style: none;
    padding: 10px 20px;
    color: var(--colorFontPrincipal);
    cursor: pointer;
    user-select: none;
}

.li-temas-1{
    background-color: var(--backGrounPrincipal);
}

.li-temas-2{
    background-color: var(--backGroundModooscuro);
    border-radius: 0 0 5px 5px;
}

.icono-temas{
    width: 20px;
    margin-right:10px ;
}

.modo-oscuro{
    background-color: var(--backGroundModooscuro);
    color: var(--colorFontPrincipal);
}

.parrafo-blanco{
    color: var(--colorFontPrincipal);
}

@media (max-width:800px){
    main{
        padding: 10px;
    }
    .a-menu-nav{
        display: block;
        width: 100%;
        font-size: 10px;
        margin: 0;
        text-align: center;
    } 
    .li{
      width: 80px;  
    }

    svg{
        width: 120px;
    }

    .ul{
        padding: 0;
        height: 100vh;
        width: 100vw;
        background-color: #000;
        border-radius: 0 0 30% 0;
        position: fixed;
        left: 0;
        top: -100vh;
        z-index: 1;
        flex-direction: column;
        margin: 0;
        gap: 50px;
        justify-content: center;
        transition: .5s ease-in;
    }
    
    .aparece-menu{
    top: 0px;
    transition: .5s ease-in;
    }

    #cont-hamburguesa{
        display: block;
        z-index: 100;
    }

    .titulo-principal{
        font-size: 36px;
    }

    #titulo-contenido{
        margin: 100px;
    }
    .cont-cards{
        flex-direction: column;
        align-items: center;
    }

    .card{
        max-width:280px ;
        max-height: 300px;
    }

    footer{
        flex-direction: column;
        height: 200px;
        padding:20px auto;
        justify-content: center;
        gap: 30px;
    }
    
    .cont-parrafos{
        flex-direction: column;
        padding: 0;
        
    }
    
    .text-his{
        width: 90%;
        text-align: justify;
    }

    #cont-parrafos-2{
        flex-direction: column-reverse;
    }

    .cont-text-his{
        width: 90%;
        text-align: justify;
    }

    h2{
        font-size:var(--h2Mobile);
    }

    #titulo-contenido{
       top: 0;
       margin:100px 0;
    }

    #cont-video{
        width: 90%;
        margin: 0;
        text-align: justify;
    }

    article{
        padding:10px;
        display: block;
        height: 600px;
        width: 100%;
        box-sizing: border-box;
    }
    .barra-video{
        height: 50px;
        background-color: gray;
        width: 100%;
        bottom: -40px;
    }
    
    .cont-zone-rompe{
        min-width: none;
        width: 100%;
        margin:100px 0;
    }

    .zone-rompe{
        height: 220px;
    }

    #img1, 
    #img2, 
    #img3{
        min-width: 100px;
        justify-content: space-between;
        height: 220px;
    }
}